body {
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    /* esta es la propiedad que añadimos
   */
}

nav {
    color: #ffffff;
}

.text-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.text-bold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.bg-info {
    background-color: #17a2b8;
}

.titulo {
    color: #212529;
}

.text-size-3em {
    font-size: 3em;
}

.bg-pink {
    background-color: #e83e8c;
}

.height-100 {
    max-height: 100px;
}

i {
    font-size: 30px
}

.inline-block {
    display: inline-block;
}

.card .card-header {
    min-height: 210px;
}

.card-body .list-group .list-group-item {
    font-size: 0.9em;
}
.card-body p {
    font-size: 1.2em;
}
/*
Alto mínimo del card-header según resolución
*/
@media (min-width: 1200px) {
    .card .card-header {
        min-height: 210px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .card .card-header {
        min-height: 230px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .card .card-header {
        min-height: 182px;
    }
}

@media (max-width: 767.98px) {
    .card .card-header {
        min-height: 160px;
    }
}